{% extends "base.html" %}
{% block body %}
{% load static %}
<section class="hero-section">
    <div class="container caption py-5 px-5">
        <h1>
            Get poultry birds anywhere, anytime!
        </h1>
        <p class="caption-text">
           Getting the best deals with various options to make your preferred choice.
        
        </p>
        <a href="/shop/" class="btn hero-btn text-light my-2">
            Shop Now
        </a>
    </div>
</section>
<section class="logistics-section bg-orange text-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 px-3 py-3"><img src="{% static 'img/logistics.png' %}" alt="" class="img-fluid"></div>
      <div class="col-lg-6 align-self-center">
        <p><strong>Logistics</strong><br>We offer safest means and best rates to transport yout birds from the farm to your desired location.</p>
        <a href="{% url 'shop:enquire' %}" class="my-2 btn btn-light text-orange px-2 py-2">Enquire about Logistics</a>
      </div>
    </div>
  </div>
</section>
<section class="category-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-flex">
        <a href="{% url 'shop:shop_by_category' 'broiler-a2d4' %}">
          <img src="{% static 'img/broiler.jpg' %}" class="img-fluid category-img d-flex" >
          <h5>Broiler</h5>
        </a>
      </div>
      <div class="col-lg-3  d-flex">
        <a href="{% url 'shop:shop_by_category' 'noiler-c4f5' %}">
          <img src="{% static 'img/noiler.jfif' %}" class="img-fluid category-img d-flex">
          <h5>Noiler</h5>
        </a>
      </div>
      <div class="col-lg-3  d-flex">
        <a href="{% url 'shop:shop_by_category' 'layer-b2de' %}">
          <img src="{% static 'img/layers.jpg' %}" class="img-fluid category-img d-flex" >
          <h5>Layer</h5>
        </a>
      </div>
      <div class="col-lg-3  d-flex">
        <a href="{% url 'shop:shop_by_category' 'turkey-h2e9' %}">
          <img src="{% static 'img/turkey.jpg' %}" class="img-fluid category-img d-flex">
          <h5>Turkey</h5>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="farms-section bg-orange text-light" id="poultry-farms">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-7 col-sm-12">
        <h2>Establish your poultry farms</h2>
        <p class="py-3 pb-4">Make money from poultry farms. We provide you with all the support you need for free with guaranteed sales</p>
        <a href="https://wa.me/+2348100048233?text=Enquiry">Contact Us</a>
      </div>
      <div class="col-lg-5 d-none d-lg-block">
        <img src="{% static 'img/farm-girl.svg' %}" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section class="products-section">
  <div class="container py-5">
      <header class="section-heading">
          <p class="text-orange">New In</p>
          <h3 class="section-title">Latest products</h3>
      </header><!-- sect-heading -->  
      
      <div class="row py-5">
          {% for product in latest_products %}
              <div class="col-md-3">
                  <div href="#" class="card card-product-grid">
                      <a class="img-wrap"> <img src="{{product.display_image.url}}"> </a>
                      <figcaption class="info-wrap">
                          <a href="#" class="title">{{product.name}}</a>
                          <small class="text-muted">{%for cat in product.category.all%}{{cat.name}}{%endfor%}</small>
                          <div class="mt-2">
                              <var class="price"> ₦ {{product.price}}</var> <!-- price-wrap.// -->
                              <a href="{% url 'shop:product_detail' product.slug %}" class="btn btn-sm btn-outline-primary float-end">Order Now<i class="fa fa-shopping-cart mx-1"></i></a>
                          </div> <!-- action-wrap.end -->
                      </figcaption>
                  </div>
              </div> <!-- col.// -->
          {% endfor %}
     
          
      </div> <!-- row.// -->
  </div>
</section>
<section class="features-section bg-light-grey">
  
  <div class="container px-4 py-5" id="icon-grid">
   <div class="row py-5">
    <div class="col-lg-6 align-self-center">
      <p class="my-3">
        <strong>Got birds to sell off?</strong><br>
        Sign up as a vendor to sell your birds fast and maximize your profit.
      </p>
    </div>
     <div class="col-lg-6">
      <img src="{% static 'img/poultry-1.jpg' %}" alt="" class="img-fluid">
     </div>
   </div>
  </div>
</section>
<section class="products-section">
  <div class="container py-5">
    <header class="section-heading">
        <p class="text-orange">Our Products</p>
        <h3 class="section-title">Some of our Products</h3>
    </header><!-- sect-heading -->  
    
    <div class="row py-5">
        {% for product in random_products %}
            <div class="col-md-3">
                <div href="#" class="card card-product-grid">
                    <a class="img-wrap"> <img src="{{product.display_image.url}}"> </a>
                    <figcaption class="info-wrap">
                        <a href="#" class="title">{{product.name}}</a>
                        <small class="text-muted">{%for cat in product.category.all%}{{cat.name}}{%endfor%}</small>
                        <div class="mt-2">
                            <var class="price"> ₦ {{product.price}}</var> <!-- price-wrap.// -->
                            <a href="{% url 'shop:product_detail' product.slug %}" class="btn btn-sm btn-outline-primary float-end">Order Now<i class="fa fa-shopping-cart mx-1"></i></a>
                        </div> <!-- action-wrap.end -->
                    </figcaption>
                </div>
            </div> <!-- col.// -->
        {% endfor %}
   
        
    </div> <!-- row.// -->
</div>
</section>
<section class="features-section bg-light-grey">
  
  <div class="container px-4 py-5" id="icon-grid">
   <div class="row">
    <div class="col-lg-6">
      <img src="{% static 'img/farm.jpg' %}" alt="" class="img-fluid">
     </div>
    <div class="col-lg-6 align-self-center">
      <p class="my-3">
        Make money from poultry farming, we provide you with all the support you need for free with guaranteed sales.
      </p>
      <a href="https://wa.me/+2348100048233" target="_blank" class="text-dark"><strong>Build your farm <i class="fas fa-arrow-right"></i></strong></a>
    </div>
   </div>
  </div>
</section>
<footer class="text-start  bg-dark text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="https://facebook.com/animalfarm.ng/" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/animalfarmng_/" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/animalfarm.ng/" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <span><img src="{% static 'img/favicon.png' %}" width="40"> Animal Farm NG </span>
            </h6>
            <p>
              Get poultry products anywhere anytime
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="{% url 'account:register' %}" class="text-reset">Become a Vendor</a>
            </p>
            <p>
              <a href="{% url 'account:login' %}" class="text-reset">Sign In</a>
            </p>
            <p>
              <a href="{% url 'shop:home' %}" class="text-reset">Shop</a>
            </p>
            <p>
              <a href="https://wa.me/+2348100048233?text=logistics" class="text-reset">Logistics</a>
            </p>
            
          </div>
          <!-- Grid column -->
  
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> Ibadan, Nigeria</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@animalfarm.ng
            </p>
            <p><i class="fas fa-phone me-3"></i> + 234 8100048233 </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold">Animal Farm NG</a>
    </div>
    <!-- Copyright -->
</footer>
  <!-- Footer -->
{% endblock %}