<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify your Account</title>
</head>
<body style="padding: 50px 20px; background-color: #EEEEEE">
    <div style="padding: 30px 15px; background-color: #FFFFFF; color: #222222">
        <h1>Hi {{business_name }}. </h1>
        <h3>You're almost done setting up your account.</h3>
        <br><br>
        <p class="main-text">Your verification code: <strong>{{code}}</strong></p>
    </div>
</body>
</html>