<section class='row py-lg-5'>
    <div class='col-lg-12 nav-buttons justify-content-center'>
        <span class=''>
            {% if page.has_previous %}
            <a href='?page={{page.previous_page_number }}' class='btn nav-button justify-content-center'>
                <i class="fas fa-angle-left"></i>
            </a>
            {% else %}
            <a href='#' class='btn disabled nav-button justify-content-center' id="disabled">
                <i class="fas fa-angle-left"></i>
            </a>
            {% endif %}
        </span>
        <span class=''>
            {% if page.has_next %}
            <a href='?page={{page.next_page_number }}' class='btn nav-button justify-content-center'>
                <i class="fas fa-angle-right"></i>
            </a>
            {% else %}
            <a href='#' class='btn disabled nav-button justify-content-center' id="disabled">
                <i class="fas fa-angle-right"></i>
            </a>
            {% endif %}
        </span>
        <div >
            <span>Page {{page.number}} of {{page.paginator.num_pages}}</span>
        </div>
        
    </div>
    
</section>
<script>
    document.getElementById('disabled').disabled = true;
</script>