{% extends "dashboard_base.html" %}
{% block page_name %}
Add New Category
{% endblock %}

{% block body %}
<style>
    .card{
        margin: auto;
        max-width: 600px;
    
    }
</style>
<div class="card mx-auto py-3">
    <div class="card-body">
    <h4 class="card-title mb-4">+ New Category</h4>

    <form action="" method="post" enctype="multipart/form-data">
           
        <div class="form-group mb-3">
            <label>Category Name</label>
            <input class="form-control" name="name">
            </div> 
            
        {% csrf_token %}
        <div class="form-group mt-2">
            <button type="submit" class="btn btn-orange text-light btn-block"> Create Category</button>
        </div> <!-- form-group// -->   

    </form>
    </div> <!-- card-body.// -->
    
</div>
{% endblock %}